body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.banner {
    height: 100vh; /* Toda a altura do viewport */
    padding: 0;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* cobre todo o espaço disponivel e faz cortes se necessario */
    display: block;
}